/* Import Bootstrap Icons CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  color: #f2f2f2;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  color: #f2f2f2;
  position: absolute;
  right: 50px;
  bottom: 0;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #3b3b3b;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #f2f2f2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: --primary-accent;
  transform: translateY(-0.25rem);
}

.separator {
  width: 2px;
  height: 10rem;
  background-color: #333;
}

/* Styles for RightSide component */

.email-link {
  font-size: 1rem;
  color: #f2f2f2;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.email-link:hover {
  color: #f2f2f2;
}
@media (max-width: 1023px) {
  .left-side,
  .right-side {
    display: none;
  }
}
