.banner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading-3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4c8caf;
}

.heading-1 {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.subheading {
  color: #525252;
  margin-top: 0.5rem;
}

.paragraph {
  font-size: 1rem;
  color: #b6b6b6;
  max-width: 650px;
}

.link {
  color: #b6b6b6;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 1.75rem;
  overflow: hidden;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b6b6b6;
  transform: translateX(-110%);
  transition: transform 0.5s ease;
}

.link:hover::after {
  transform: translateX(0);
}

.button {
  width: 13rem;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #b6b6b6;
  border-radius: 0.25rem;
  color: #e8e8e8;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button:hover {
  color: #ffffff;
  background-color: #b3b3b31d;
}
/* .btn-2 {
  border: 1pxz;
} */
@media (min-width: 768px) {
  .banner {
    padding: 6rem 2.5rem;
    gap: 2rem;
  }

  .heading-1 {
    font-size: 4.5rem;
  }

  .subheading {
    margin-top: 1rem;
  }

  .paragraph {
    font-size: 1.25rem;
  }
}
