.archive-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.archive-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.archive-title {
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
#archive-h2 {
  color: #525252;
}
.archive-subtitle {
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
  color: #525252;
}

.archive-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.archive-show-more {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.archive-show-more-button {
  width: 13rem;
  height: 3.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  color: #f8f8f8;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
}

.archive-show-more-button:hover {
  background-color: #525252;
  color: #fff;
}
