@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
.uiMode {
  height: 100vh;
  width: 100vw;
  background-color: #151a28;
  color: white;
  cursor: url("https://uploads.codesandbox.io/uploads/user/434c4d1c-58ee-47ad-bcc8-6abd6e9c3c7f/L50Q-spiderman.png")
      32 32,
    auto !important;
}
