* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
:root {
  font-size: 16px;
}
html {
  background-color: #151a28;
}

/* mode toggler button */
.mode-toggler {
  position: fixed;
  bottom: 0;
  right: 0;
  color: red;
  padding: 10px 20px;
  margin: 50px;
  font-weight: 500;
  border: none;
  background-color: black;
  z-index: 1000;
}
